body{
	overflow: hidden;
	margin:0;
}	
.error{
	color:red;
}
.clear{
	clear: both;
}
.text-white{
	color: #fff;
}
.header{
	background-color:#6f5499;
	height: 60px;
	padding-top:10px;
}
.content{
	width: 100%;
}
.row{
	margin-left: 0;
	margin-right: 0;
	padding:0;
}
.logreg{
	background-color:#f2f2f2;
	height: 600px;
	padding:10px 80px 0px 80px;
}

.btn-login{
	padding: 4px 45px;
	color:white;
	font-size: 20px;
	flex: 1;
	border-radius: 5px;
	border: 2px solid #6f5499;
	/*font-family: 'VT323', monospace;*/
	text-shadow: 0 3px 5px rgba(0,0,0,0.25);
	white-space: nowrap;
	color: #000;
	cursor: pointer;
	user-select: none;
	background: transparent;
	background-image: url(./../../images/bg-btn.jpg);
	background-repeat:  repeat-x;
	background-position: 0 -100%;
	transition: 1.5s ease;
}
.btn-login:hover{
	background-position: 500% 100%;
	color:#fff;
}
.btn-signup{
	width: 100%;
	margin-top:10px;
}
.login{
	margin-top:20px;
}
.title-content{
	font-weight: bold;
	margin-top: 0px;
	font-size: 30px;
	text-shadow: 1px 1px 1px #6f5499;
	margin-bottom: 10px;
}
.title{
	font-weight: bold;
}
.form-control{
	height: 40px;
}
.upload-img{
	float: left;
	margin-left: 20px;
	margin-bottom: 0;
	
}
.box-uploadimg{
	height: 50px;
	outline: none;
	width: 100px ;
	color: transparent;
	float:left;
	line-height: 35px;
}
.phone{
	float:left;
	width:200px;
}
.text-white{
	color: #fff;
}
.pl-25{
	padding-left: 25px;
}
.p-30{
	padding:10px;
	background: #6f5499;
}
.p-40{
	padding: 40px;
}
.m-0{
	margin: 0;
}
.p-0{
	padding: 0;
}
.pr-15{
	padding-right: 15px;
}

.mb-10{
	margin-bottom: 15px;
}
.pt-20{
	padding-top:20px;	
}
.pt-30{
	padding-top:30px;	
}
hr{
	margin-top:0px;
	margin-bottom: 0px;
}
/* logo css */	
.logo{
	font-weight: Bold;
	font-size: 25px;
	font-family: 'McLaren', cursive;
	text-shadow: 0 5px 15px -5px #00000070;
	
}
/*------ footer css ------*/
.footer{
	width: 100%;
	background-color:#6f5499;
	height: 500px;
}
.footer-content{
	text-align: center;
	padding-top:30px;
}
.footer-text{
	font-size: 20px;
	color: white;
}
/* btn social && animation*/
.btn-social{
	display: inline-block;
	width: 30px;
	height: 30px;
	background: #f1f1f1;
	margin-left:10px;
	margin-right: 10px;
	border-radius: 30%;
	box-shadow: 0 5px 15px -5px #00000070;
	color:#6f5499;       /* #3498db */
	overflow: hidden;
	position: relative;
	cursor: pointer;
}
.btn-social i{
	line-height: 30px;
	font-size: 20px;
	transition: 0.2s linear;
}
.btn-social:hover i{
	transform: scale(1.3);
	color: #f1f1f1;

}
.btn-social::before{
	content: "";
	position: absolute;
	width: 120%;
	height: 120%;
	background: #6f5499;
	transform: rotate(45deg);
	left: -110%;
	top:90%;
}
.btn-social:hover::before{
	animation: aaa 0.7s 1;
	top: -10%;
	left: -10%;

}
@keyframes aaa{
	0%{
		left: -110%;
		top: 90%;

	} 50%{
		left: 10%;
		top: -30%;
	} 100%{
		top: -10%;
		left: -10%;
	}
}
/* ------------	 */
