body {
    overflow: hidden;
}

.text-white {
    color: #fff;
}

.p-30 {
    padding: 10px;
    background: #6f5499;
}

.p-40 {
    padding: 40px;
}

.m-0 {
    margin: 0;
}

.p-0 {
    padding: 0;
}

.mb-10 {
    margin-bottom: 15px;
}


/* logo css */

.logo {
    font-weight: Bold;
    font-size: 25px;
    font-family: 'McLaren', cursive;
    text-shadow: 0 5px 15px -5px #00000070;
    line-height: 40px;
}


/* icon header css */

.iconbtn {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    margin-left: 15px;
    position: relative;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    border: none;
    background: #6f5499;
    outline: none;
}

.iconbtn::before {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.iconbtn::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    z-index: 0;
    border: 1px solid;
}

.iconbtn:hover {
    animation: ro 5s linear infinite;
    color: #fff;
    font-size: 28px;
}

@keyframes ro {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* icon user css */

.iconuser {
    position: relative;
}

.iconuser span {
    position: absolute;
    top: 0;
    right: 100px;
    color: #fff;
    font-size: 20px;
    line-height: 40px;
}
.iconuser .avatar{
    position: absolute;
    top: 0;
    right: 50px;
    cursor: pointer;
}
.btn-logout{
    border: none;
    background-color: #fff;
    position: absolute;
    top: 45px;
    right: 30px;
    z-index: 999;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    border: 1px solid rgba(0, 0, 0, .15);
    cursor: pointer;
    padding:5px 20px;
}
.btn-logout:hover{
    background-color: #6f5499;
    color:#fff;
    text-decoration:underline;
}
/* notification  */

.notif {
    position: absolute;
    color: #fff;
    background-color: red;
    padding: 1px 4px;
    z-index: 999;
}

.n1 {
    top: 0;
    left: 255px;
}

.n2 {
    top: 0;
    left: 310px;
}

.n3 {
    top: 0;
    left: 370px;
}


/* switch mode */

.switchmode {
    position: absolute;
    top: 20px;
    right: 10px;
    outline: none;
}

.switchmode input {
    width: 40px;
    height: 20px;
    position: relative;
    -webkit-appearance: none;
    background: #c6c6c6;
    border-radius: 20px;
    transition: 0.5s;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

.switchmode input:checked {
    background: #2c3e50;
    /*#03a9f4;*/
    outline: none;
}

.switchmode input:uncheck {
    outline: none;
}

.switchmode input:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    top: 0;
    left: 0;
    background: #fff;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    outline: none;
}

.switchmode input:checked:before {
    left: 20px;
    outline: none;
}


/* col left */

.col-left {
    padding: 30px 0;
    box-sizing: border-box;
    border-right: 1px #ededed solid;
    box-shadow: 1px 1px 1px #ededed;
}


/* Search box */

.content-left {
    height: 700px;
    box-sizing: border-box;
    border-right: 1px solid #c4c4c4;
}

.recent_heading {
    float: left;
    width: 40%;
}

.srch_bar {
    display: inline-block;
    text-align: right;
    width: 60%;
}

.heading_srch {
    padding: 20px;
    overflow: hidden;
    border-bottom: 1px solid #c4c4c4;
}

.recent_heading h4 {
    color: #6f5499;
    font-size: 21px;
    margin: auto;
    padding-top: 5px;
}

.srch_bar input {
    width: 80%;
    padding: 4px 20px 2px 10px;
    float: right;
    border-radius: 20px;
}

.srch_bar i {
    position: relative;
    right: -78%;
    top: 8px;
}


/* btn search */

.btnsearch {
    position: relative;
    left: -28px;
    top: 0px;
    color: #6f5499;
    text-decoration: none;
    margin-bottom: 30px;
}

.btnsearch:hover {
    text-decoration: none;
    color: #6f5499;
    font-size: 15px;
}


/* list friend */

.content {
    width: 100%;
    box-sizing: border-box;
}

.chat_ib h5 {
    font-size: 15px;
    color: #464646;
    margin: 0 0 8px 0;
    font-weight: bold;
}

.chat_ib h5 span {
    font-size: 13px;
    float: right;
}

.chat_ib p {
    font-size: 14px;
    color: #989898;
    margin: auto
}

.chat_img {
    float: left;
    width: 11%;
}

.chat_ib {
    float: left;
    padding: 0 0 0 15px;
    width: 88%;
}

.chat_people {
    overflow: hidden;
    clear: both;
}

.chat_list {
    margin: 0;
    padding: 18px 16px 10px;
}

.chat_list:hover {
    background: #6f5499;
}

.inbox_chat {
    height: 550px;
    overflow-y: auto;
}

#style-1::-webkit-scroll {
    width: 6px;
    background-color: #F5F5F5;
}

.active_chat {
    background: #ebebeb;
}


/* chat zone */

.content-mid {
    height: 700px;
    border-right: 1px solid #c4c4c4;
}

.user-current {
    padding: 17px 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #ebebeb
}

.user-img {
    display: inline-block;
}

.user-name {
    display: inline-block;
    margin-left: 8px;
    font-weight: bold;
}

.user-status {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 50%;
    margin-left: 5px;
}

.add-info {
    float: right;
    background: #fff;
    outline: none;
    color: #AAAAAA;
    font-size: 20px;
    border: none;
    outline: none;
}

.img-circle{
    border-radius: 50%;
}
/* Chat content */

.content-chat {
    height: 560px;
    border-bottom: 1px solid #ebebeb;
}

.incoming_msg_img {
    display: inline-block;
    width: 6%;
}

.received_msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
}

.received_withd_msg p {
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 20px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
}

.time_date {
    color: #747474;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
}

.received_withd_msg {
    width: 57%;
}

.mesgs {
    padding: 30px 5px 0px 25px;
    width: 100%;
    height: 560px;
    background: #fff;
}

.sent_msg p {
    background: #6f5499 none repeat scroll 0 0;
    border-radius: 20px;
    font-size: 14px;
    margin: 0;
    color: #fff;
    padding: 5px 10px 5px 12px;
    width: 100%;
}

.outgoing_msg {
    overflow: hidden;
    margin: 26px 0 26px;
}

.sent_msg {
    float: right;
    width: 46%;
}


/* write content chat */

.type_msg {
    /*border-top: 1px solid #c4c4c4;*/
    padding-top: 2px;
    padding-left: 10px;
}

.type_msg input[type="text"] {
    padding: 5px 20px;
    width: 80%;
    display: inline-block;
    border-radius: 20px;
    border: none;
    border: 1px solid #555;
    outline: none;
    height: 40px;
}

.btn-type {
    color: white;
    background-color: #6f5499;
    font-size: 20px;
    margin-left: 10px;
    border-radius: 20px;
    border: 1px solid #6f5499;
    padding: 5px 5px;
    cursor: pointer;
    display: inline-block;
    outline: none;
}

.btn-type:hover {
    color: #6f5499;
    background: #fff;
}


/* --- */

.msg_history {
    height: 530px;
    overflow-y: auto;
}


/* content right */

.user-info {
    padding: 50px 0 30px 0;
    text-align: center;
    border-bottom: 1px solid #ebebeb;
}

.img-user {
    margin-bottom: 10px;
}

.name-user {
    color: #333;
    font-weight: bold;
    font-size: 20px;
}


/* change theme color */

.bg-black {
    background: #111111;
}