body{
	overflow: hidden;
}
.p-30{
	padding:10px;
	background: #6f5499;
}	
.logo{
	font-weight: Bold;
	font-size: 25px;
	font-family: 'McLaren', cursive;
	text-shadow: 0 5px 15px -5px #00000070;
}
.text-white{
	color: #fff;
}
.jumbotron{
	margin-bottom: 0;
}
.content{
	width: 100%;

}
.row{
	margin-left: 0;
	margin-right: 0;
	padding:0;
}
.col-6{
	width: 55%;
	float:left;
}
.col-4{
	width: 45%;
	float:left;
	padding:22.5px;
	padding-left: 50px;
	background-color: #f2f2f2;
	margin-bottom: 0px;

}
.btn-login{
	padding: 6px 25px;
	color:white;
	font-size: 20px;
	flex: 1;
	border-radius: 5px;
	border: 2px solid #6f5499;
	/*font-family: 'VT323', monospace;*/
	text-shadow: 0 3px 5px rgba(0,0,0,0.25);
	white-space: nowrap;
	color: #000;
	cursor: pointer;
	user-select: none;
	background: transparent;
	background-image: url(images/bg-btn.jpg);
	background-repeat:  repeat-x;
	background-position: 0 -100%;
	transition: 1.5s ease;

}
.btn-login:hover{
	background-position: 500% 100%;
	color:#fff;
}
.title-content{
	margin-left: 12px;
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: 0px;
	font-size: 25px;
	text-shadow: 1px 1px 1px #6f5499;

}
.signup{

	margin-right: 90px;
}

.form-control{
	height: 40px;
}

/* footer css*/
.footer{
	width: 100%;
	background-color:#6f5499;
}
.footer-content{

	padding: 40px;
	text-align: center;
}
.footer-text{
	font-size: 20px;
	color: white;
}
/* btn social && animation*/
.btn-social{
	display: inline-block;
	width: 30px;
	height: 30px;
	background: #f1f1f1;
	margin-left:10px;
	margin-right: 10px;
	border-radius: 30%;
	box-shadow: 0 5px 15px -5px #00000070;
	color:#6f5499;       /* #3498db */
	overflow: hidden;
	position: relative;
}
.btn-social i{
	line-height: 30px;
	font-size: 20px;
	transition: 0.2s linear;
}
.btn-social:hover i{
	transform: scale(1.3);
	color: #f1f1f1;

}
.btn-social::before{
	content: "";
	position: absolute;
	width: 120%;
	height: 120%;
	background: #6f5499;
	transform: rotate(45deg);
	left: -110%;
	top:90%;
}
.btn-social:hover::before{
	animation: aaa 0.7s 1;
	top: -10%;
	left: -10%;

}
@keyframes aaa{
	0%{
		left: -110%;
		top: 90%;

	} 50%{
		left: 10%;
		top: -30%;
	} 100%{
		top: -10%;
		left: -10%;
	}
}
