.text-center{
    text-align: center;
}
.user-option{
    padding:20px 10px;
    font-size: 16px;
    
}
.change-theme{
    cursor: pointer;
    margin-bottom: 10px;
}
.circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /* border: 1px solid #000; */
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
}